{% extends 'app/base.html' %}

{% block content %}

 <style>
        .item4{

            background-color: #00cc99;
            color: white    ;
       }
        .item9{
            background-color: #b3ffec;
        }
         .catt1 > .contain > .row > input{
            border-radius: 5px;
         }

        .catt1 > .contain > .row > input:focus{
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;

           .row{
            width:300px;
        }

        .row >input{
            width:250px
    }
    </style>


    <form method= 'post' action='/take3'>
    {% csrf_token %}


    <div class="catt1" >


        <div class="contain" style=";  margin:50px;">
<br><br1>
    <div class="row " style="padding:10px; text-align: left; float:left;">
             <label for="inputEmail4" style="padding:10px;  color: black; font-size: 18px; " >Adult Mortality</label><br>
        <input type="text" name="v3" class="form-control" placeholder="" required style="font-size: 24px; " >
      </div>

  <div class="row " style="padding:10px; text-align: left; float:right;">
 <label for="inputEmail4" style="color: black; font-size: 18px; " >Infant Deaths</label><br>
        <input type="text" name="v4" class="form-control" placeholder="" required style="font-size: 24px" >
      </div><br>

            <div class="row " style="padding:10px; text-align: left; float:left;">
 <label for="inputEmail4" style="color: black; font-size: 18px; " >Alcohol</label><br>
        <input type="text" name="v5" class="form-control" placeholder="" required style="font-size: 24px" >
      </div><br>



    <div class="row " style="padding:10px; text-align: left; float:right;">
     <label for="inputEmail4" style="color: black; font-size: 18px; " >Under Five Deaths </label><br>

        <input type="text" name="v10" class="form-control" placeholder="" required style="font-size: 24px" >
      </div><br>

             <div class="row " style="padding:10px; text-align: left; float:left;">
     <label for="inputEmail4" style="color: black; font-size: 18px; " >HIV/AIDS </label><br>

        <input type="text" name="v14" class="form-control" placeholder="" required style="font-size: 24px" >
      </div> <br>


    </div>
    </div>
 <div class="parent">
<button class="button button1" style="font-family:'Poppins', sans-serif;
float:left; font-size: medium; padding:10px; border:3px solid white;
width: 200px; position: absolute; bottom: 0; left: 700px; background-color: white;
transform: translateX(-50%);">Submit</button>
</div>      </form>

    </div>




{% endblock %}